.header {
    background-color: #F1F3FF; 
    position: fixed; width: 100%; 
    z-index: 100;
}

.navbar-header li {
    display: inline;
    padding-left:  8px;
    padding-right:  8px;
}

.navbar-header li a {
    text-decoration: none;
    color: black;
}

.navbar-header button{
    background-color: #5CB85F;
    border: 1px solid #5CB85F;
    border-radius: 2px;
}

.navbar-header button a {
    color: white;
    text-decoration: none;
}

.hero {
    background-color: #F1F3FF;
    padding-top: 100px;
}

.area-img-car {
    padding-right: 0px !important;
}

.button-rent-car {
    background-color: #5CB85F;
    border: 1px solid #5CB85F;
    border-radius: 2px;
}

.button-rent-car a {
    text-decoration: none;
    color: white;
}

/* global */
.img-girl {
    padding-left: 20px;
}

.kelebihan{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0;
}

.item{
    border: 1px solid #D0D0D0;
    width: 301px;
    height: 255px;
    border-radius: 8px;
    padding: 30px;
}

.carousel-item{
    background-color: #F1F3FF;
    border: 1px;
    border-color: #F1F3FF;
    border-radius: 8px;
    padding-top: 20px;
}
.crsl-img{
    display: inline-flex;
}
.person-photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rate{
    padding-bottom: 20px;
    padding-top: 20px;
   
}
.btn-carousel {
    display: flex;
    justify-content: center;
}

.carousel-control {
    background: #5CB85F;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin: 5px 15px;
}
.tombol-crsl {
    width: 15px;
    height: 15px;
}

.sewa-mobil{
    background-color: #0D28A6;
    border: 1px #0D28A6;
    box-sizing: border-box;
    border-radius: 8px;
    border-style: none;
    padding: 50px 50px 50px 50px;
    color: white;
    text-align: center;
}
.sewa-mobil button{
    color: white;
    background-color: #5CB85F;
    border-radius: 3px;
    border-color: #5CB85F;
    border-style: none;
    padding: 5px;
}
/* end of global */

/* /cars */
.card {
    width: 27rem !important;
}

.img-car {
    width: 300px;
    height: 200px;
    object-fit: contain;
}

.card-text{
    height: 80px;
}

.button-select-car{
    background-color: #5CB85F !important;
    border-color: #5CB85F !important;
    width: 100%;
}

/* End of /cars */

.filter-sewa {
    font-size: 10pt;
    background-color: white;
    border-radius: 8px;
    border: 1px;
    align-items: center;
    position: absolute;
    top: 58vh;
    left: 13.5vh;
    box-shadow: 0px 0px 10px 
        rgba(0, 0, 0, 0.15);
    padding: 20px !important;
}

.filter-sewa p{
    margin-bottom: 0;
    color: #3C3C3C;
}

#tipe-driver{
    padding: 7px;
    border: 1px solid #D0D0D0;
    color: #8A8A8A;
}

#date-sewa{
    padding: 6px;
}

#waktu-jemput{
    width: 100%;
    padding: 7px;
    border: 1px solid #D0D0D0;
    color: #8A8A8A;
}

#jumlah-penumpang{
    background: url(../images/fi_users.png) no-repeat scroll 95% 7px;;
    padding: 5px;
}

.filter-sewa input{
    width: 100%;
    border: 1px solid #D0D0D0;
    color: #8A8A8A;
}


.button-cari-mobil{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-cari-mobil button{
    color: white;
    background-color: #5CB85F;
    border-style: none;
    border-radius: 2px;
    border-color: #5CB85F;
    font-size: 10pt;
    padding: 5px;
}

.area-navbar-footer li {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.area-navbar-footer li a{
    text-decoration: none;
    color: black;

}

.area-navbar-footer button {
    display: none;
}

.footer {
    padding: 150px 0 0 0;
}